* {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --image-shadow: 0deg, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.185);
    --banner-color: #16212A;
}

body {
    background-color: white !important;
}

header {
    background: url('../assets/prinicpal__banner.png');
    width: 100%;
    height: 100vh;
    background-position: center;
}

header h1 {
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    padding-left: 12%;
    padding-top: 50px;
}
header .header__hr{
    height: 6px !important;
    width: 50% !important;
    color: white;
    margin-left: 18%;
    opacity: 1;
}
header .header__description{
    padding-top: 150px;
    padding-left: 12%;
    width: 700px;
}
header .header__description p {
    font-weight: bold;
    text-align: justify;
    font-size: 1.7em;
}
.characters {
    width: 100%;
    height: auto;
}

.characters h1 {
    font-size: 5em;
    font-weight: bold;
    color: #001F3F;
}
.characters p {
    color: #001F3F;
    font-size: 1.3em;
    font-weight: medium;
}
.character-container__card {
    background-color: rgb(22, 33, 42) !important;
    color: white;
    width: 600px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 30px;
    margin-bottom: 50px;
    display: flex;
    text-align: left;
    border: none;
    transition: 0.3s ease-in-out !important;
}

.character-container__card .character-container__card--img {
    margin-right: -75px;
}

.character-container__card .character-container__card--img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
    display: inline-flex;
}
.character-container__card .character-container__card--description h3{
    font-weight: bolder;
}
.character-container__card .character-container__card--description ul {
    list-style: none;
    margin-bottom: 5px;
}
.character-container__card .character-container__card--description li {
    margin-bottom: 10px;
}

.character-container__card:nth-child(even) {
    float: right;
}
.character-container__card:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.status__alive {
    width: 70px;
    border-radius: 30px;
    border: none;
    background-color: #31DB08;
    color: white;
    outline: none;
    pointer-events: none;
}

.status__dead {
    width: 70px;
    border-radius: 30px;
    border: none;
    background-color: #F54747;
    color: white;
    outline: none;
    pointer-events: none;
}

.status__unknown {
    width: 70px;
    border-radius: 30px;
    border: none;
    background-color: #35BEA9;
    color: white;
    outline: none;
    pointer-events: none;
}
.options {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none !important;
    background-color: var(--banner-color);
    color: white;
    cursor: pointer;
    border-radius: 20%;
    width: 50px;
    height: 50px;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.options:hover{
    transform: translateY(-5px);
}
.pulse{
    background: black;
	margin: 10px;
	height: 50px;
	width: 50px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.howTo{
    width: 100%;
    height: auto;
    background-color: #001F3F;
    padding-bottom: 50px;
}
.howTo .howTo__title{
    font-size: 4.3em;
    font-weight: bold;
    padding-top: 50px;
}
.howTo .howTo__steps{
    margin-top: 100px;
}

.howTo .howTo__steps .howTo__steps--circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 120px;
    width: 120px;
    color: black;
    background-color: white;
    text-align: center;
    margin-left: 50px;
}
.howTo .howTo__steps .howTo__steps--circle span{
    font-size: 5rem;
    font-weight: bold;
}
.howTo .howTo__steps > span {
    color: white;
    font-size: 20pt;
    width: 900px;
    display: inline;
}
.howTo .howTo__steps .howTo__steps--btn{
    margin-right: auto;
    margin-left: auto;
    width: 150px !important;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}
.howTo .howTo__steps .howTo__steps--btn:hover {
    transform: translateY(-3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.options__display{
    position: fixed;
    bottom: 225px;
    right: 300px;
    z-index: 99;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    display: none;
}
.options__display .card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--banner-color);
}
#options__charactersNumber{
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: var(--image-shadow);
}
.loader {
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--image-shadow)), url('../assets/Loading__Banner.webp');
    background-position: center;
    color: white;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
footer .card .card-footer a{
    color: rgb(77, 91, 212);
    text-decoration: none;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
@media only screen and (max-width: 600px){
    header{
        background-position: center;
        object-fit: cover;
    }
    header h1{
        font-size: 3em;
    }
    .character-container__card{
        width: auto;
        height: 500px;
        flex-direction: column;
    }
    .character-container__card:nth-child(even) {
        float: none;
    }
    .character-container__card .character-container__card--img img{
        width: 100%;
        border-radius: 30px 30px 0px 0px;
    }
    .character-container__card .character-container__card--description h3{
        font-weight: bolder;
    }
    .character-container__card .character-container__card--description{
        text-align: justify;
        line-height: 2em;
    }
}